form(action="" method="post")
  div 用户名: #{user.name}
  div 新密码：
  input(type="password" name="password")
  div 重复新密码：
  input(type="password" name="retype-password")
  div: button 确定


script.
  var btn = document.querySelector("button")
  var input1 = document.querySelector('[name="password"]')
  var input2 = document.querySelector('[name="retype-password"]')

  btn.onclick = e => {
    if(input1.value && input1.value == input2.value){

    }else {
      alert("两次输入的密码不一样")
      input1.value = input2.value = ""
      e.preventDefault()
    }
  }

