link(rel="icon", href="../uploads/favicon.png" type="image/x-icon")
<link href="login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jquery-3.5.1.js"></script>
div(class="container")
  div(class="left")
    div(class="logo-container")
      <svg t="1603031404156" class="logo" viewBox="0 0 3189 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1231" width="14" height="14"><path d="M39.617049 125.062295h703.538361v144.535082H39.617049zM832.629508 440.655738h559.003279v144.535082H832.629508zM832.629508 424.372459V123.047869h144.702951v232.330492l-144.702951 68.994098z" fill="#703675" p-id="1232"></path><path d="M1391.800656 123.047869H977.332459v144.535082h414.468197v245.927869h63.958033a81.248525 81.248525 0 0 0 80.744918-81.248525V239.380984a116.500984 116.500984 0 0 0-116.500984-116.333115z" fill="#703675" p-id="1233"></path><path d="M1391.800656 512.839344v243.577705H977.332459v144.535082h442.502295a116.500984 116.500984 0 0 0 116.500984-116.333115V594.255738a81.416393 81.416393 0 0 0-81.416394-81.416394zM463.821639 415.307541V197.41377h-144.535082v73.358689l144.535082 144.535082z" fill="#703675" p-id="1234"></path><path d="M319.118689 197.41377h144.535081v703.538361h-144.535081zM3058.90623 276.312131l90.984918-144.702951h-593.080656a112.136393 112.136393 0 0 0-111.968525 112.136394v264.225574a100.721311 100.721311 0 0 0 100.721312 100.721311H3004.852459v141.345574h-467.850492l-90.817049 144.702951h572.264918a131.60918 131.60918 0 0 0 131.441312-131.441312v-201.442623a98.203279 98.203279 0 0 0-98.03541-98.03541h-462.478689V276.312131zM832.629508 580.658361h144.535082v320.29377H832.629508zM1638.735738 440.655738h559.003278v144.535082h-559.003278z" fill="#703675" p-id="1235"></path><path d="M1638.735738 470.536393V123.047869h144.535082v330.53377l-144.535082 16.954754z" fill="#703675" p-id="1236"></path><path d="M2197.739016 123.047869h-414.468196v144.535082h414.468196v245.927869h63.958033a81.248525 81.248525 0 0 0 80.577049-81.248525V239.380984a116.333115 116.333115 0 0 0-116.333114-116.333115z" fill="#703675" p-id="1237"></path><path d="M2197.739016 512.839344v243.577705h-414.468196v144.535082h442.670164a116.333115 116.333115 0 0 0 116.333114-116.333115V594.255738a81.416393 81.416393 0 0 0-81.248524-81.416394z" fill="#703675" p-id="1238"></path><path d="M1638.735738 660.396066v240.556065h144.535082V580.658361l-144.535082 79.737705z" fill="#703675" p-id="1239"></path></svg>
    div(class="background")

  div(class="right")
    div(class="register")
      a(href="register") 还没账号？
        span(class="identifier") 注册


    div(class="right-container")
      h3 登陆
      form(action="/login", method="post")
        input(type="hidden", name="previousUrl", value = previousUrl)
        //- 获取上一次跳转的URL
        div(class="usename-input")
          <svg t="1603004051759" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2578" width="45" height="45" fill='#693FA1'><path d="M512 304.241778m-133.12 0a133.12 133.12 0 1 0 266.24 0 133.12 133.12 0 1 0-266.24 0Z" p-id="2579"></path><path d="M96.711111 852.650667a415.288889 415.288889 0 0 1 830.577778 0z" p-id="2580"></path></svg>
          input(type="text" name="name" )
          span.tip
        div(class='password-input' )
          <svg t="1603004380076" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2764" width="45" height="45"><path d="M839.907556 529.066667C948.679111 420.295111 959.829333 254.634667 864.711111 159.288889S603.704889 75.320889 494.933333 184.092444a283.306667 283.306667 0 0 0-78.961777 276.024889L125.383111 750.933333A104.448 104.448 0 1 0 273.066667 898.616889l290.816-290.588445a283.306667 283.306667 0 0 0 276.024889-78.961777z m-52.337778-292.636445a94.663111 94.663111 0 0 1-8.874667 132.892445 94.663111 94.663111 0 0 1-132.892444 8.874666 94.663111 94.663111 0 0 1 8.874666-132.892444 94.663111 94.663111 0 0 1 132.892445-8.874667z" p-id="2765" fill="#693FA1"></path></svg>
          input(type='password' name="password")
        a(href="/forgot") 忘记密码？
        div(class='captcha-container')
          div(class="captcha-input")
            <svg t="1603004825373" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3041" width="45" height="45" fill='#693FA1'><path d="M856.746667 286.947556a56.206222 56.206222 0 0 0-43.235556-48.924445 968.476444 968.476444 0 0 1-143.815111-30.72 531.797333 531.797333 0 0 1-126.520889-74.183111 58.481778 58.481778 0 0 0-68.266667 0 329.728 329.728 0 0 1-127.658666 74.183111 463.985778 463.985778 0 0 1-136.533334 33.678222 51.882667 51.882667 0 0 0-43.463111 48.924445v229.603555c-2.958222 192.284444 227.555556 380.700444 343.608889 380.700445s309.703111-132.892444 341.333334-379.790222a2211.157333 2211.157333 0 0 0 2.048-233.016889z m-125.155556 150.414222l-239.843555 225.962666a32.312889 32.312889 0 0 1-39.822223 3.868445l-6.144-5.233778-134.257777-138.581333a33.223111 33.223111 0 0 1 0-46.648889 32.312889 32.312889 0 0 1 45.511111 0l108.999111 113.777778 216.632889-204.8a32.312889 32.312889 0 0 1 22.755555-9.784889 32.768 32.768 0 0 1 22.755556 9.784889 33.223111 33.223111 0 0 1 0 48.924444" p-id="3042"></path></svg>
            input(type="text" name="captcha" style="border-style:none")
          img(src="/captcha", alt="验证码")
          span.tip

        div
        button 登陆







  script.
    let loginForm = document.querySelector("form")
    let captchaImg = document.querySelector("img")
    let previousUrl =

    //- post
    loginForm.onsubmit = function(e){
      e.preventDefault()
      $.post("/login", {
        name: loginForm.elements.name.value,
        password: loginForm.elements.password.value,
        captcha: loginForm.elements.captcha.value
      }).then(result => {
        if(result.code == 0){
          alert(result.msg)
          location.href = loginForm.elements.previousUrl.value
          console.log(loginForm.elements.previousUrl.value, ' previousUrl')

        } else {
          alert(result.msg)
          captchaImg.src =  "/captcha?t"+ Date.now()
        }
      })



    }